/*-------------------- Color Variables --------------------*/

:root {
  --primary: #246dad;
  --secondary: #5faad9;
  --white: #fff;
  --white2: #fcfafa;
  --lightblue: #a3c4d9;
  --blogbox: rgba(163, 196, 217, 0.4);
  --black: #0d0d0d;
  --grey1: #dad8d8;
  --grey2: #828282;
  --grey3: #414141;
  --orange: #ffa238;
  --teal: #05f2db;
}

/*-------------------- Container classes (and some general styling) --------------------*/
html {
  box-sizing: border-box;
  font-size: 62.5%;
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  background-color: var(--white2);
  color: var(--black);
  font-weight: 400;
  width: 100%;
  height: 100%;
  margin: 0;
}

.display-flex {
  display: flex;
  align-items: center;
}

a,
a:visited {
  color: var(--black);
}

/*-------------------- loading icon --------------------*/
.page-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--white);
  justify-content: center;
  z-index: 1000;
  display: none;
}

.page-loader img {
  width: 25rem;
  height: 25rem;
}

.page-loader.active {
  display: flex;
}

/*---------------------------------------- Site ----------------------------------------*/

.site {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

/*-------------------- header --------------------*/

.header {
  background-color: var(--white2);
  height: 10rem;
  line-height: 7.5rem;
  box-shadow: 0 5px 10px var(--grey2);
  z-index: 100;
}

.header.fix {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  box-shadow: 0 5px 10px var(--grey2);
}

/*-------------------- Navigation Menu --------------------*/
.navigation {
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  height: 100%;
}

/*--- Logo ---*/
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 10rem;
}

/*--- Hamburger menu ---*/
.hamburger-menu {
  margin-right: 5rem;
  display: none;
}

/*--- nav-list ---*/
.nav-list li:not(:last-child) {
  margin-right: 2rem;
}

.nav-list {
  list-style: none;
}

.nav-list li a {
  display: inline-block;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  font-weight: 500;
  transition: color 500ms ease-in-out;
  text-decoration: none;
}

.nav-list li a.active {
  text-decoration: underline;
}

.nav-list li a:hover {
  color: var(--secondary);
}

/*-------------------- Top Fade section --------------------*/

.top-fade-section {
  height: 20vh;
  z-index: -999;
}

.top-fade {
  /* background: linear-gradient(to bottom, rgba(39, 118, 186, 0.1), rgba(252, 250, 250, 1)), linear-gradient(rgba(149, 174, 225, 1), rgba(187, 160, 209, 1));
  background: linear-gradient(to bottom, rgba(39, 118, 186, 0.1), rgba(252, 250, 250, 1) 60%), linear-gradient(rgba(149, 174, 225, 1), rgba(187, 160, 209, 1) 50%); */
  background: linear-gradient(rgba(149, 174, 225, 1), rgba(187, 160, 209, 0.5) 50%, rgba(252, 250, 250, 1));
  height: 100%;
  width: 100%;
}

.top-fade-layout {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

/*-------------------- Footer --------------------*/

/* .footer-section {
  height: 60vh;
  margin-top: 25rem;
} */

.footer-section {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60vh;
  margin-top: 20rem;
  z-index: -999;
}

.footer {
  background: linear-gradient(to top, rgba(39, 118, 186, 0.01), rgba(252, 250, 250, 1)), linear-gradient(rgba(187, 160, 209, 1), rgba(149, 174, 225, 1));
  background: linear-gradient(to top, rgba(149, 174, 225, 1), rgba(187, 160, 209, 0.5) 50%, rgba(252, 250, 250, 1));
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-layout {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 0;
  justify-content: flex-end;
}

.footer-social {
  margin-bottom: 2rem;
}

.footer-text {
  margin-bottom: 8rem;
}

.footer a {
  font-size: 4rem;
}

.footer a:not(:last-child) {
  margin-right: 2rem;
}
